<div class="container">
  <h1>Playing Battleship</h1>

  <!-- player 1 boards -->
  <div >
    <h3>Player: {{vm.p1.name}}</h3>

    <table>
      <caption>
        <a class="clickable" ng-click="vm.toggleShowships(vm.p1)">Click to see Ships Board</a>
      </caption>
      <thead>
        <tr>
          <th ng-repeat="row in vm.p1.shipBoard">{{$index}}</th>
        </tr>
      </thead>

      <tbody ng-show="vm.p1.showShips">
        <tr ng-repeat="row in vm.p1.shipBoard">
          <td ng-repeat="cell in row track by $index">{{cell}}</td>
        </tr>
      </tbody>
    </table>  

    <table ng-class="{active: vm.game.turn === 0}">
      <caption>Shots Board</caption>
      <thead>
        <tr>
          <th ng-repeat="row in vm.p1.shotBoard">{{$index}}</th>
        </tr>
      </thead>

      <tbody>
        <tr ng-repeat="row in vm.p1.shotBoard">
          <!-- for some reason col in rows not working need to fix later -->
          <td class="fire" ng-click="vm.fire($index,0)">{{row[0]}}</td>
          <td class="fire" ng-click="vm.fire($index,1)">{{row[1]}}</td>
          <td class="fire" ng-click="vm.fire($index,2)">{{row[2]}}</td>
          <td class="fire" ng-click="vm.fire($index,3)">{{row[3]}}</td>
          <td class="fire" ng-click="vm.fire($index,4)">{{row[4]}}</td>
          <td class="fire" ng-click="vm.fire($index,5)">{{row[5]}}</td>
          <td class="fire" ng-click="vm.fire($index,6)">{{row[6]}}</td>
          <td class="fire" ng-click="vm.fire($index,7)">{{row[7]}}</td>
          <td class="fire" ng-click="vm.fire($index,8)">{{row[8]}}</td>
          <td class="fire" ng-click="vm.fire($index,9)">{{row[9]}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- player 2 boards -->
  <div style="clear: both">
    <h3>Player: {{vm.p2.name}}</h3>

    <table>
      <caption>
        <a class="clickable" ng-click="vm.toggleShowships(vm.p2)">Click to see Ships Board</a>
      </caption>
      <thead>
        <tr>
          <th ng-repeat="row in vm.p2.shipBoard">{{$index}}</th>
        </tr>
      </thead>

      <tbody ng-show="vm.p2.showShips">
        <tr ng-repeat="row in vm.p2.shipBoard">
          <td ng-repeat="cell in row track by $index">{{cell}}</td>
        </tr>
      </tbody>
    </table>

    <table ng-class="{active: vm.game.turn === 1}">
      <caption>Shots Board</caption>
      <thead>
        <tr>
          <th ng-repeat="row in vm.p2.shipBoard">{{$index}}</th>
        </tr>
      </thead>

      <tbody>
        <tr ng-repeat="row in vm.p2.shotBoard">
          <!-- for some reason col in rows not working need to fix later -->
          <td class="fire" ng-click="vm.fire($index,0)">{{row[0]}}</td>
          <td class="fire" ng-click="vm.fire($index,1)">{{row[1]}}</td>
          <td class="fire" ng-click="vm.fire($index,2)">{{row[2]}}</td>
          <td class="fire" ng-click="vm.fire($index,3)">{{row[3]}}</td>
          <td class="fire" ng-click="vm.fire($index,4)">{{row[4]}}</td>
          <td class="fire" ng-click="vm.fire($index,5)">{{row[5]}}</td>
          <td class="fire" ng-click="vm.fire($index,6)">{{row[6]}}</td>
          <td class="fire" ng-click="vm.fire($index,7)">{{row[7]}}</td>
          <td class="fire" ng-click="vm.fire($index,8)">{{row[8]}}</td>
          <td class="fire" ng-click="vm.fire($index,9)">{{row[9]}}</td>
        </tr>
      </tbody>
    </table>
  </div>

</div>